<template>
  <div id="app">
    <ul v-for="actionRequest in actionRequests" :key="actionRequest.id">
      <component :is="actionRequest.resourcetype" :data="actionRequest" />
    </ul>
  </div>
</template>

<script>
import { mapState } from "vuex";

import RequestTaskProlongation from "./components/RequestTaskProlongation.vue";
import RequestTaskCreation from "./components/RequestTaskCreation.vue";
import RequestMergeRequestApproval from "./components/RequestMergeRequestApproval.vue";

export default {
  name: "App",
  mounted() {
    return this.$store.dispatch({
      type: "fetchActionRequests",
    });
  },
  components: {
    RequestTaskProlongation,
    RequestTaskCreation,
    RequestMergeRequestApproval,
  },
  computed: {
    ...mapState(["actionRequests"]),
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
